*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    
    
}

.logo{
    margin-left: 20px;

}

.align{
    vertical-align: middle;
}

h1{
    line-height: 70px;
    font-size: 2.5rem;
    display: inline;
}


main{
    background-color: #f5f8f9ab;
    height: 1000px;
    padding-top: 3%;
}

.container{
    width: 80%;
    height: 95%;
    border-radius: 1%;
    background-color: white;
    
    margin: auto;
    
    
}

.padding{
    padding-left:5%;
}
.button-box{
    border-bottom: 2px solid grey;
}

.button1{
    background-color: #48AEF1;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8%;
    color: white;
    display:inline-block;
    margin:2% 1% 2% auto;
}

.button2{
    

height: 40px;
line-height: 40px;
 text-align: center;
 width: 120px; 
 border-radius: 8%;
 border:2px solid grey;
 display:inline-block;
 color: grey;
 margin:2% auto 2% auto;
 
}

h3{
    display: inline;
}

.check:before{
    content: "\2713";
    color: green;
    text-align: center;
    margin-top: 45%;
    margin-left: 20%;
    
   
    
}

.circle{
    width: 20px;
    height: 20px;
    border:1px solid green;
    border-radius: 50%;
    display:inline-block;
    
}

.tag{
    height: 20px;
line-height: 20px;
 
 font-size:0.7rem;
 width: auto; 
 border-radius: 20%;
 border:2px solid grey;
 display:inline-block;
 color: grey;
 }

 .todo-list{
     margin-top:3%;
 }

 .line{
     margin-top:1%;
 }








