*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    border: 1px solid red;
    
}

.logo{
    margin-left: 20px;

}

.align{
    vertical-align: middle;
}

h1{
    line-height: 70px;
    font-size: 2.5rem;
    display: inline;
}


main{
    background-color: #f5f8f9e8;
    height: 1000px;
    padding-top: 3%;
}

.container{
    width: 80%;
    height: 95%;
    border-radius: 1%;
    background-color: white;
    border: 1px solid red;
    margin: auto;
    
}



